In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/NIT Hackathon/crop_production.csv")

In [ ]:
df.drop(labels=['Unnamed: 0','District_Name'],axis=1, inplace=True)

In [ ]:
df['yield']=data['production']/data['Area']
df.drop(labels=['Area','production'],axis=1, inplace=True)

In [ ]:
df.head()

,State_Name,Crop_Year,Season,Crop,yield
0,Andaman and Nicobar Islands,2005,Whole Year,Arecanut,0.941464
1,Andaman and Nicobar Islands,2005,Whole Year,Dry chillies,0.650245
2,Andhra Pradesh,2007,Kharif,Moong(Green Gram),0.937600
3,Andhra Pradesh,2007,Rabi,Horse-gram,0.830800
4,Andhra Pradesh,2009,Rabi,Rapeseed &Mustard,0.454167

In [ ]:
df.isnull().sum()

State_Name    0
Crop_Year     0
Season        0
Crop          0
yield         0
dtype: int64

In [ ]:
df.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir ', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telangana ',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [ ]:
df.Season.unique()

array(['Whole Year ', 'Kharif     ', 'Rabi       ', 'Autumn     ',
       'Summer     ', 'Winter     '], dtype=object)

In [ ]:
df.Crop.unique()

array(['Arecanut', 'Dry chillies', 'Moong(Green Gram)', 'Horse-gram',
       'Rapeseed &Mustard', 'Other Kharif pulses', 'Wheat',
       'Small millets', 'Sunflower', 'Linseed', 'Jowar', 'other oilseeds',
       'Sesamum', 'Urad', 'Niger seed', 'Mesta', 'Sannhamp', 'Tobacco',
       'Safflower', 'Soyabean', 'Castor seed', 'Bajra', 'Sweet potato',
       'Cabbage', 'Turmeric', 'Cotton(lint)', 'Gram', 'Rice', 'Arhar/Tur',
       'Other  Rabi pulses', 'Jute', 'Coconut ', 'Groundnut', 'Maize',
       'Ragi', 'Banana', 'Coriander', 'Onion', 'Sugarcane', 'Dry ginger',
       'Peas & beans (Pulses)', 'Potato', 'Garlic', 'Masoor', 'Khesari',
       'Barley', 'Moth', 'Other Cereals & Millets', 'Guar seed',
       'Cardamom', 'Cowpea(Lobia)', 'Jack Fruit', 'Pump Kin', 'Blackgram',
       'Cashewnut', 'Tapioca', 'Black pepper'], dtype=object)

In [ ]:
df['Crop']= df.Crop.apply(str. lower)
df.head()

,State_Name,Crop_Year,Season,Crop,yield
0,Andaman and Nicobar Islands,2005,Whole Year,arecanut,0.941464
1,Andaman and Nicobar Islands,2005,Whole Year,dry chillies,0.650245
2,Andhra Pradesh,2007,Kharif,moong(green gram),0.937600
3,Andhra Pradesh,2007,Rabi,horse-gram,0.830800
4,Andhra Pradesh,2009,Rabi,rapeseed &mustard,0.454167

In [ ]:
df1=df.query("Crop in ('rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas','moth', 'mungbean', 'blackgram', 'lentil', 'pomegranate','banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple','orange', 'papaya', 'coconut ', 'cotton(lint)', 'jute', 'coffee')")

In [ ]:
df1.head()

      State_Name  Crop_Year       Season          Crop     yield
70         Assam       2005  Kharif       cotton(lint)  1.000000
74         Assam       1998  Kharif       cotton(lint)  1.000000
75         Assam       1999  Kharif       cotton(lint)  1.000000
81         Bihar       2007  Autumn               rice  1.338605
93  Chhattisgarh       2011  Kharif               jute  7.583889

In [ ]:
len(df1.Crop.unique())

8

In [ ]:
df1.Crop.unique()

array(['cotton(lint)', 'rice', 'jute', 'coconut ', 'maize', 'banana',
       'moth', 'blackgram'], dtype=object)

In [ ]:
numeric_var = {'Crop': {'cotton(lint)':'cotton', 'coconut ':'coconut '}}
df1 = df1.replace(numeric_var)

In [ ]:
df1.head()

      State_Name  Crop_Year       Season    Crop     yield
70         Assam       2005  Kharif       cotton  1.000000
74         Assam       1998  Kharif       cotton  1.000000
75         Assam       1999  Kharif       cotton  1.000000
81         Bihar       2007  Autumn         rice  1.338605
93  Chhattisgarh       2011  Kharif         jute  7.583889

In [ ]:
len(df1)

577

In [ ]:
df.head()

,State_Name,Crop_Year,Season,Crop,yield
0,Andaman and Nicobar Islands,2005,Whole Year,arecanut,0.941464
1,Andaman and Nicobar Islands,2005,Whole Year,dry chillies,0.650245
2,Andhra Pradesh,2007,Kharif,moong(green gram),0.937600
3,Andhra Pradesh,2007,Rabi,horse-gram,0.830800
4,Andhra Pradesh,2009,Rabi,rapeseed &mustard,0.454167

In [ ]:
df.columns

Index(['State_Name', 'Crop_Year', 'Season', 'Crop', 'yield'], dtype='object')

In [ ]:
df.sort_values(by = ['Season', 'Crop'], ascending = [True, True], na_position = 'first')

     State_Name  Crop_Year       Season                   Crop     yield
2655     Odisha       1998  Autumn                       maize  1.323765
2667     Odisha       1998  Autumn           moong(green gram)  0.284500
2673     Odisha       1998  Autumn           moong(green gram)  0.244576
2648    Manipur       1998  Autumn       peas & beans (pulses)  0.946667
2661     Odisha       1998  Autumn                        ragi  0.596415
...         ...        ...          ...                    ...       ...
2678     Odisha       1998  Winter           moong(green gram)  0.239881
2683     Odisha       1998  Winter           moong(green gram)  0.337750
2663     Odisha       2004  Winter                        ragi  0.577174
2072     Kerala       2012  Winter                     sesamum  1.000000
2688     Odisha       2004  Winter                     sesamum  0.297250

[3730 rows x 5 columns]

In [ ]:
state_names = list(df1.State_Name.unique())

In [ ]:
print(state_names)

['Assam', 'Bihar', 'Chhattisgarh', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Nagaland', 'Odisha', 'Rajasthan', 'Tamil Nadu', 'Telangana ', 'Uttar Pradesh', 'Uttarakhand']

In [ ]:
state_names.sort()
state_names

['Assam',
 'Bihar',
 'Chhattisgarh',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Nagaland',
 'Odisha',
 'Rajasthan',
 'Tamil Nadu',
 'Telangana ',
 'Uttar Pradesh',
 'Uttarakhand']

In [ ]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df1['State_Name']= label_encoder.fit_transform(df1['State_Name'])

le_name_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print(le_name_mapping)

{'Assam': 0, 'Bihar': 1, 'Chhattisgarh': 2, 'Gujarat': 3, 'Haryana': 4, 'Himachal Pradesh': 5, 'Kerala': 6, 'Madhya Pradesh': 7, 'Maharashtra': 8, 'Nagaland': 9, 'Odisha': 10, 'Rajasthan': 11, 'Tamil Nadu': 12, 'Telangana ': 13, 'Uttar Pradesh': 14, 'Uttarakhand': 15}

In [ ]:
label_encoder1= preprocessing.LabelEncoder()
df1['Season']= label_encoder1.fit_transform(df1['Season'])

le_name_mapping1 = dict(zip(label_encoder1.classes_, label_encoder1.transform(label_encoder1.classes_)))
print(le_name_mapping1)

{'Autumn     ': 0, 'Kharif     ': 1, 'Rabi       ': 2, 'Summer     ': 3, 'Whole Year ': 4, 'Winter     ': 5}

In [ ]:
label_encoder2 = preprocessing.LabelEncoder()
df1['Crop']= label_encoder2.fit_transform(df1['Crop'])

le_name_mapping2 = dict(zip(label_encoder2.classes_, label_encoder2.transform(label_encoder2.classes_)))
print(le_name_mapping2)

{'banana': 0, 'blackgram': 1, 'coconut ': 2, 'cotton': 3, 'jute': 4, 'maize': 5, 'moth': 6, 'rice': 7}

In [ ]:
df1.head()

    State_Name  Crop_Year  Season  Crop     yield
70           0       2005       1     3  1.000000
74           0       1998       1     3  1.000000
75           0       1999       1     3  1.000000
81           1       2007       0     7  1.338605
93           2       2011       1     4  7.583889

In [ ]:
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
X = df1.drop("yield", axis=1)
y = df1["yield"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
random_forest_model = RandomForestRegressor(max_depth=100, max_features='sqrt', min_samples_leaf=4,
                      min_samples_split=10, n_estimators=800)
random_forest_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=100, max_features='sqrt', min_samples_leaf=4,
                      min_samples_split=10, n_estimators=800)

In [ ]:
y_train_predict=random_forest_model.predict(X_train)
y_test_predict=random_forest_model.predict(X_test)

In [ ]:
y_train_predict=random_forest_model.predict(X_train)
y_test_predict=random_forest_model.predict(X_test)

In [ ]:
print("-----------Training Accuracy------------")
print(round(random_forest_model.score(X_train,y_train),3)*100)
print("-----------Testing Accuracy------------")
print(round(random_forest_model.score(X_test,y_test),3)*100)

-----------Training Accuracy------------
40.300000000000004
-----------Testing Accuracy------------
25.4

In [ ]:
from sklearn import metrics

print("-------Test Data--------")
print('MAE:', metrics.mean_absolute_error(y_test, y_test_predict))
print('MSE:', metrics.mean_squared_error(y_test, y_test_predict))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_test_predict)))

print("\n-------Train Data--------")
print('MAE:', metrics.mean_absolute_error(y_train,y_train_predict))
print('MSE:', metrics.mean_squared_error(y_train, y_train_predict))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_train_predict)))

-------Test Data--------
MAE: 193.95993514054885
MSE: 928193.1607457369
RMSE: 963.4278181294834

-------Train Data--------
MAE: 88.1361279926247
MSE: 222190.25163920416
RMSE: 471.37060964723304

# Radha's Code

In [ ]:
from sklearn.model_selection import train_test_split

x = dummy.drop(["production","yield"], axis=1)
y = dummy[["yield"]]

# Splitting data set - 25% test dataset and 75% 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state=5)

print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (2797, 474)
x_test : (933, 474)
y_train : (2797, 1)
y_test : (933, 1)

In [ ]:
# Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

ValueError: ignored